In [1]:
import pandas as pd
import numpy as np

In [2]:
Q1 =  np.__version__

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [5]:
Q2 = len(df)

In [6]:
Q3 = df.groupby(['Make']).agg({'Make':'count'})['Make'].nlargest(3)
Q3 = list(Q3.index)

In [7]:
Q4 = df['Model'][(df['Make'] == 'Audi')].nunique()

In [8]:
Q5 = df.isnull().sum()>0
Q5 = len(list(Q5[Q5==True].index))
Q5

5

In [9]:

median = df['Engine Cylinders'].median()

most_freq_value = df['Engine Cylinders'].value_counts().head(1).index[0]
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(most_freq_value)

Q6 = (df['Engine Cylinders'].median(),median)

In [10]:

data =df[['Engine HP','Engine Cylinders']][df['Make']=='Lotus'].drop_duplicates().reset_index(drop=True)

X = np.array(data)

XTX = X.T.dot(X)

inverted_XTX = np.linalg.inv(XTX)

y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

w = (inverted_XTX.dot(X.T)).dot(y)
Q7 = w[0]

### Answers

In [20]:
print(f'Question 1: {Q1}')
print(f'Question 2: {Q2}')
print(f'Question 3: {Q3}')
print(f'Question 4: {Q4}')
print(f'Question 5: {Q5}')
print(f'Question 6: {Q6}')
print(f'Question 7: {Q7}')

Question 1: 1.21.5
Question 2: 11914
Question 3: ['Chevrolet', 'Ford', 'Volkswagen']
Question 4: 34
Question 5: 5
Question 6: (6.0, 6.0)
Question 7: 4.594944810094551