In [1]:
import pandas as pd
import numpy as np

In [10]:
Q1 =  np.__version__

In [166]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [11]:
Q2 = len(df)

In [54]:
Q3 = df.groupby(['Make']).agg({'Make':'count'})['Make'].nlargest(3)
Q3 = list(Q3.index)

['Chevrolet', 'Ford', 'Volkswagen']

In [58]:
Q4 = df['Model'][(df['Make'] == 'Audi')].nunique()

34

In [168]:
Q5 = df.isnull().sum()>0
Q5 = len(list(Q5[Q5==True].index))
Q5

5

In [170]:

median = df['Engine Cylinders'].median()

most_freq_value = df['Engine Cylinders'].value_counts().head(1).index[0]
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(most_freq_value)

Q6 = (df['Engine Cylinders'].median(),median)

In [171]:

data =df[['Engine HP','Engine Cylinders']][df['Make']=='Lotus'].drop_duplicates().reset_index(drop=True)

X = np.array(data)

XTX = X.T.dot(X)

inverted_XTX = np.linalg.inv(XTX)

y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

w = (inverted_XTX.dot(X.T)).dot(y)
w[0]

4.594944810094551